
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div>
      <p>
      <% @messages.each do |msg|%>
      <h3><strong>Message: <%= msg[:id] %></strong></h3>
      <p>
      From: <%= msg[:sender] %><br>
      To: <%= msg[:receiver] %><br>
      Message: <%= msg[:content] %></p>
      <% end %>

    </div>

    <a href="/reset"><b>DELETE ALL MESSAGES</b></a>
  </body>
</html>
